<div *ngIf="initColors" class="w-full h-full flex flex-row flex-wrap">
    <div x-on:click="isOpen = false" class="bg-slate-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-slate-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-slate-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-slate-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-slate-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-slate-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-slate-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-stone-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-stone-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-stone-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-stone-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-stone-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-stone-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-stone-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-red-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-red-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-red-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-red-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-red-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-red-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-red-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-orange-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-orange-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-orange-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-orange-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-orange-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-orange-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-orange-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-amber-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-amber-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-amber-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-amber-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-amber-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-amber-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-amber-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-yellow-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-yellow-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-yellow-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-yellow-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-yellow-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-yellow-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-yellow-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-lime-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-lime-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-lime-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-lime-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-lime-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-lime-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-lime-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-green-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-green-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-green-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-green-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-green-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-green-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-green-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-emerald-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-emerald-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-emerald-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-emerald-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-emerald-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-emerald-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-emerald-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-teal-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-teal-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-teal-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-teal-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-teal-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-teal-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-teal-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-cyan-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-cyan-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-cyan-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-cyan-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-cyan-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-cyan-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-cyan-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-sky-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-sky-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-sky-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-sky-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-sky-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-sky-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-sky-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-blue-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-blue-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-blue-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-blue-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-blue-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-blue-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-blue-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-indigo-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-indigo-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-indigo-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-indigo-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-indigo-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-indigo-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-indigo-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-violet-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-violet-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-violet-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-violet-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-violet-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-violet-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-violet-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-purple-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-purple-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-purple-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-purple-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-purple-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-purple-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-purple-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-pink-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-pink-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-pink-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-pink-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-pink-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-pink-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-pink-800 color"></div>
    <div x-on:click="isOpen = false" class="bg-rose-200 color"></div>
    <div x-on:click="isOpen = false" class="bg-rose-300 color"></div>
    <div x-on:click="isOpen = false" class="bg-rose-400 color"></div>
    <div x-on:click="isOpen = false" class="bg-rose-500 color"></div>
    <div x-on:click="isOpen = false" class="bg-rose-600 color"></div>
    <div x-on:click="isOpen = false" class="bg-rose-700 color"></div>
    <div x-on:click="isOpen = false" class="bg-rose-800 color"></div>
    <div class="w-full flex flex-row justify-between pb-2">
        <div class="flex flex-row">
            <div x-on:click="isOpen = false" class="color bg-white"></div>
            <div x-on:click="isOpen = false" class="color bg-black"></div>
        </div><button id="resetbtn" x-on:click="isOpen = false"
            class="rounded-md text-slate-200 hover:text-sky-200">Reset</button>
    </div>
</div>

<div class="w-full h-full flex flex-row flex-wrap">
    <div *ngFor="let color of colors; index as i" class="color {{color}}" (click)="updateBgColor(color)"
        x-on:click="isOpen = false">
    </div>
    <div class="w-full flex flex-row justify-between pb-2">
        <div class="flex flex-row">
            <div class="color bg-white" x-on:click="isOpen = false" (click)="updateBgColor('bg-white')"></div>
            <div class="color bg-black" x-on:click="isOpen = false" (click)="updateBgColor('bg-black')"></div>
        </div>
        <button id="resetbtn" (click)="resetBgColor()" class="rounded-md text-slate-200 hover:text-sky-200"
            x-on:click="isOpen = false">Reset</button>
    </div>
</div>